_site
docs/_build/
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*DS_Store
*/.ipynb_checkpoints/*
assets/assessment/**/*.xlsx
assets/assessment/**/*.numbers
assets/assessment/**/submissions/
*.aux
*.fdb_latexmk
*.fls
*.log
*.xdv
**checkpoint**
