{% extends "base.html" %}

<html lang="en">

{% block body %}

<style media="screen" type="text/css">

{{ css }}

div.input_prompt {
  color: #303F9F;
}

div.output_prompt {
  color: #D84315;
}
</style>

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration --></head>


<div class="page-content">
    <div class="wrap">
      <div class="home">
            {{ nb }}
      </div>
  </div>
</div>
{% endblock %}
</html>
