{% extends "base.html" %}

{% block body %}
    {% include 'partials/list_of_chapters.html' %}

    <h2>Other materials</h2>

        <ul>
          <li>
               <a href=/{{root}}/other/programming/>Programming</a>
          </li>
          <li>
               <a href=/{{root}}/other/reading-list/>Reading list</a>
          </li>
          <li>
               <a href=/{{root}}/other/obtaining-assistance/>Obtaining assistance</a>
          </li>
          <li>
               <a href=/{{root}}/other/assessment/>Assessment</a>
          </li>
        </ul>
{% endblock %}
