{% extends "base.html" %}

{% block body %}
    {% include 'partials/list_of_chapters.html' %}

    <h1>Other materials</h1>

        <ul>
          <li>
               <a
                   href=https://www.youtube.com/playlist?list=PLnC5h3PY-znxMsG0TRYGOyrnEO-QhVwLb>YouTube
               playlist (Content)</a>
               <a
                   href=https://www.youtube.com/playlist?list=PLnC5h3PY-znw_SyhvDO3-yH_EWB5z0w_8>YouTube
                   playlist (Code)</a>
          </li>
          <li>
               <a href=/{{root}}/other/programming/>Programming</a>
          </li>
          <li>
               <a href=/{{root}}/other/reading-list/>Reading list</a>
          </li>
          <li>
               <a
                   href=/{{root}}/other/list-of-theorems-proofs-and-algorithms/>List
               of theorems proofs and algorithms</a>
          </li>
          <li>
               <a href=/{{root}}/other/obtaining-assistance/>Obtaining assistance</a>
          </li>
          <li>
               <a href=/{{root}}/other/assessment/>Assessment</a>
          </li>
        </ul>
{% endblock %}
