.DS_Store
cooperation/main.aux
cooperation/main.bbl
cooperation/main.bcf
cooperation/main.bib
cooperation/main.blg
cooperation/main.fdb_latexmk
cooperation/main.fls
cooperation/main.ipynb
cooperation/main.log
cooperation/main.nav
cooperation/main.out
cooperation/main.run.xml
cooperation/main.snm
cooperation/main.tex
cooperation/main.toc
cooperation/.ipynb_checkpoints
cooperation/main.xdv
cooperation/xelatex87338.fls
equilibrium-behavior-of-rational-agents/.ipynb_checkpoints
equilibrium-behavior-of-rational-agents/main.aux
equilibrium-behavior-of-rational-agents/main.bbl
equilibrium-behavior-of-rational-agents/main.bcf
equilibrium-behavior-of-rational-agents/main.bib
equilibrium-behavior-of-rational-agents/main.blg
equilibrium-behavior-of-rational-agents/main.fdb_latexmk
equilibrium-behavior-of-rational-agents/main.fls
equilibrium-behavior-of-rational-agents/main.log
equilibrium-behavior-of-rational-agents/main.nav
equilibrium-behavior-of-rational-agents/main.out
equilibrium-behavior-of-rational-agents/main.run.xml
equilibrium-behavior-of-rational-agents/main.snm
equilibrium-behavior-of-rational-agents/main.toc
equilibrium-behavior-of-rational-agents/notes.pdf
